{% extends "__base_view__.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password reset confirmation' %}
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block body_title %}<h1>{{ title }}</h1>{% endblock %}
{% block body %}

  {#  {% if validlink %}#}
  {##}
  {#      <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>#}
  {##}
  {#      <form method="post">{% csrf_token %}#}
  {#          <fieldset class="module aligned">#}
  {#              <div class="form-row field-password1">#}
  {#                {{ form.new_password1.errors }}#}
  {#                  <label for="id_new_password1">{% trans 'New password:' %}</label>#}
  {#                {{ form.new_password1 }}#}
  {#              </div>#}
  {#              <div class="form-row field-password2">#}
  {#                {{ form.new_password2.errors }}#}
  {#                  <label for="id_new_password2">{% trans 'Confirm password:' %}</label>#}
  {#                {{ form.new_password2 }}#}
  {#              </div>#}
  {#              <input type="submit" value="{% trans 'Change my password' %}">#}
  {#          </fieldset>#}
  {#      </form>#}
  {##}
  {#  {% else %}#}
  {##}
  {#      <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>#}
  {##}
  {#  {% endif %}#}

  {% if validlink %}

      <div class="card text-center mx-auto" style="max-width: 26rem; margin-top: 10%">
          <div class="card-header text-center">
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
          </div>
          <div class="card-body">
              <form class="form-group" name="LoginForm" method="post">
                {% csrf_token %}
                  <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                      <input type="password" name="new_password1" autocomplete="new-password"
                             required="" id="id_{{ form.new_password1.name }}" class="form-control mb-3"
                             placeholder="{% trans 'New password' %}" aria-autocomplete="list">
                  </div>
                  <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                      <input type="password" name="new_password2" autocomplete="new-password"
                             required="" id="id_{{ form.new_password2.name }}" class="form-control mb-3"
                             placeholder="Potwierdź hasło" aria-autocomplete="list">
                  </div>
                  <button type="submit" class="btn btn-primary form-control">{% trans 'Change my password' %}</button>
              </form>
          </div>
      </div>

  {% else %}
      <div class="card text-center mx-auto">
          <div class="card-header text-center">
          </div>
          <div class="card-body">

              <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

          </div>
      </div>
  {% endif %}

{% endblock %}
