{% extends "__base_view__.html" %}
{% block title %}Logowanie{% endblock title %}
{% block body %}
  <div class="card text-center mx-auto" style="max-width: 26rem; margin-top: 10%">
    <div class="card-header text-center">
      Zaloguj się do księgowości
    </div>
    <div class="card-body">
      <form class="form-group" name="LoginForm" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary form-control">Zaloguj się</button>
      </form>
      <p>Nie masz konta? Zarejstruj się <a href="{% url 'auth_ex:register' %}">tutaj</a></p>
      <small><a href="{% url 'auth_ex:password-reset' %}">Nie pamiętasz hasła?</a></small>
    </div>
  </div>
{% endblock %}