{% extends "__base_view__.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password reset' %}
  </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block body_title %}<h1>{{ title }}</h1>{% endblock %}

{% block body %}

  <div class="card text-center mx-auto">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
      <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
      <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
    </div>
  </div>

{% endblock %}
