{% extends '__base_view__.html' %}
{% block title %}
  Regulamin
{% endblock %}
{% block body %}
  <h5 style="font-size: 1em">
    REGULAMIN APLIKACJI ZAPLANUJ-BUDZET
  </h5>
  <h5 style="font-size: 1em; font-weight: bold;">
    I. Postanowienia ogólne
  </h5>
       <h5 style="margin-left: 20px; font-size: 1em">
         1. Na podstawie art. 8 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną tworzy się Regulamin aplikacji zaplanuj-budzet<br>
         2. Aplikacja służy do zapisywania przychodów i wydatków w budżecie domowym.
       </h5>
  <h5 style="font-size: 1em; font-weight: bold;">
    II. Warunki świadczenia usług drogą elektroniczną
  </h5>
      <h5 style="margin-left: 20px; font-size: 1em">
        1. Aplikacja dostępna jest dla użytkowników komputerów lub urządzeń mobilnych spełniających następujące wymagania techniczne:<br>
        <span style="margin-left: 10px">
            a) dla komputerów: osobistych<br>
        </span>
        <span style="margin-left: 10px">
            b) dla urządzeń mobilnych: smartfonów<br>
        </span>
        2. Ponadto skorzystanie z aplikacji wymaga aktywnego połączenia z Internetem.<br>
        3. Użytkownik w ramach korzystania z usługi nie może dostarczać treści o charakterze bezprawnym.
      </h5>
  <h5 style="font-size: 1em; font-weight: bold;">
    III. Warunki zawierania i rozwiązywania umowy
  </h5>
  <h5 style="margin-left: 20px; font-size: 1em">
        1. Autor aplikację udostępnia nieodpłatnie.<br>
        2. Użytkownik może korzystać z aplikacji po zarejestrowaniu swojego konta. Do rejestracji konta wystarczy tylko podanie loginu oraz hasła.<br>
        3. Autor może w każdej chwili zmienić Regulamin. Zmiany Regulaminu obowiązują od momentu umieszczenia na koncie użytkownika. Zmiany uważane są za zaakceptowane przez użytkownika z momentem skorzystania przez niego z Aplikacji.<br>
        4. Użytkownik może w każdej chwili zaprzestać korzystania z aplikacji i usunąć swoje konto, a w szczególności wtedy, gdy nie zaakceptuje zmian w Regulaminie.<br>
        5. W przypadku stwierdzenia, że użytkownik dopuszcza się działań zabronionych prawem albo naruszających zasady współżycia społecznego, Autor może podjąć wszelkie prawem dozwolone działania, w tym ograniczyć możliwość korzystania przez użytkownika z Aplikacji i świadczonych za jej pośrednictwem usług.<br>
        6. Autor zastrzega sobie prawo zawieszenia, w dowolnym czasie i z dowolnych przyczyn działalności Aplikacji, a także prawo zmiany, wycofania lub dokonania nowych usług świadczonych za jej pośrednictwem.
  </h5>
  <h5 style="font-size: 1em; font-weight: bold;">
    IV. Tryb postępowania reklamacyjnego
  </h5>
  <h5 style="margin-left: 20px; font-size: 1em">
        1. Użytkownik może składać reklamacje dotyczące funkcjonowania Aplikacji pod następującym adresem e-mail: …................................<br>
        2. Reklamacja powinna zawierać: nazwę aplikacji, której dotyczy, oraz dokładny opis przyczyny reklamacji.<br>
        3. Autor informuje użytkownika o sposobie rozpatrzenia reklamacji na adres e-mail, z którego reklamację otrzymał.
  </h5>
  <h5 style="font-size: 1em; font-weight: bold;">
    V. Postanowienia końcowe<br>
  </h5>
  <h5 style="margin-left: 20px; font-size: 1em">
        1. Regulamin wchodzi w życie dnia 13.03.2020 roku
  </h5>

{% endblock %}