{% extends '__base_view__.html' %}
{% block title %}
  Wydatki
{% endblock %}
{% block body %}
  <div class="card">
    <div class="card-body">
      <table class="table table-borderless table-hover">
        <thead class="thead-dark">
        <tr>
          <th style="width: 13%">Data</th>
          <th style="width: 10%">Kwota</th>
          <th style="width: 10%">Kategoria</th>
          <th style="width: 62%">Opis</th>
          <th style="width: 5%">Usuń</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
          <tr>
            <td>{{ expense.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.category.name }}</td>
            <td>{{ expense.comment }}</td>
            <td>
              <form action="{% url 'delete-expense' expense.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-link btn-sm">
                  <img src="https://img.icons8.com/officexs/16/000000/delete-sign.png" alt="del">
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
      console.log($('#selected_category'));
      let category = document.getElementById('selected_category');
      category.addEventListener('change', function(event){
          let selected_category = JSON.stringify({'selected_category': event.currentTarget.value});
          let category = window.location.href + "?category=" + event.currentTarget.value;
          window.location.replace(category);

      });
  </script>

{% endblock %}