{% extends '__base_view__.html' %}
{% block title %}
  Przychód
{% endblock %}
{% block body %}
  <div class="card">
    <div class="card-body">
      Przychód
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-borderless table-hover">
        <thead class="thead-dark">
        <tr>
          <th style="width: 13%">Data</th>
          <th style="width: 10%">Kwota</th>
          <th style="width: 77%">Opis</th>
        </tr>
        </thead>
        <tbody>
        {% for income in incomes %}
          <tr>
            <td>{{ income.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.comment }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}