{% extends '__base_view__.html' %}
{% block title %}
    Przychód
{% endblock %}
{% block body %}
  <div class="col col-sm-8">
    <div class="card card-body">
      <form method="post" class="form-inline">
        {% csrf_token %}
        <!-- <div class="form-group"> -->
          <label for="date" class="mr-sm-2">Data</label>
          <input type="date" id="date" name="date"
          class="form-control mb-2 mr-sm-2">
        <!-- </div>
        <div class="form-group"> -->
          <label for="amount" class="mr-sm-2">Kwota</label>
          <input type="number" step="0.01" id="amount" name="amount"
          class="form-control mb-2 mr-sm-2">
        <!-- </div> -->
        <div class="form-group">
          <label for="comment" class="mr-sm-2">Komentarz</label>
          <textarea class="form-control mb-2 mr-sm-2" cols="40"
          rows="1" id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Dodaj</button>
      </form>
    </div>
    <div class="col col-sm-32">
      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th width="30%">Data</th>
          <th width="30%">Kwota</th>
          <th width="40%">Opis</th>
        </tr>
        </thead>
        <tbody>
          {% for income in incomes %}
            <tr>
              <td>{{ income.date }}</td>
              <td>{{ income.amount }}</td>
              <td>{{ income.comment }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}