{% extends '__base_view__.html' %}
{% block title %}
  Przychód
{% endblock %}
{% block body %}
  <div class="card">
    <div class="card">
      {% if date_from == month and date_to == month %}
        Podsumowanie za: {{ month|date:"F" }}
      {% else %}
        Okres: {{ date_from }} - {{ date_to }}
      {% endif %}
      <div style="text-align: right">Przychody</div>
    </div>
    <div class="card-body">
      <table class="table table-borderless table-hover table-responsive">
        <thead class="thead-dark">
        <tr>
          <th style="width: 13%">Data</th>
          <th style="width: 10%">Kwota</th>
          <th style="width: 77%">Opis</th>
          <th style="width: 5%"></th>
        </tr>
        </thead>
        <tbody>
        {% for income in incomes %}
          <tr>
            <td>{{ income.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td style="text-align: right">{{ income.amount }}</td>
            <td>{{ income.comment }}</td>
            <td>
              <div class="btn-group btn-group-sm" role="group">
                <a type="button" href="{% url 'edit-income' income.id %}" >
                  <button type="button" class="btn btn-link btn-sm">
                    <img src="https://img.icons8.com/material-sharp/16/000000/edit.png" alt="edit"/>
                  </button>
                </a>
                <form action="{% url 'delete-income' income.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link btn-sm">
                    <img src="https://img.icons8.com/color/16/000000/delete-forever.png" alt="del"/>
                  </button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}