{% extends "__base_view__.html" %}
{% block title %}Ustawienia{% endblock title %}
{% block body %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center mx-auto mb-3" style="width: 26rem">
        <div class="card-header text-center">
          Dodaj kategorię
        </div>
        <div class="card-body">
          <form class="form-group" name="LoginForm" method="post">
            {% csrf_token %}
            {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <input type="hidden" name="form_name" value="add_category">
            <div class="form-group">
              <input class="form-control" type="text" id="category" name="category"  placeholder="Kategoria">
            </div>
            <button type="submit" class="btn btn-primary form-control">Dodaj</button>
          </form>
        </div>
      </div>
      <div class="card text-center mx-auto mb-3" style="width: 26rem">
        <div class="card-header text-center">
          Usuń kategorię
        </div>
        <div class="card-body">
          <form class="form-group" name="LoginForm" method="post">
            {% csrf_token %}
            {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <input type="hidden" name="form_name" value="remove_category">
            <div class="form-group">
              <input class="form-control" type="text" id="category" name="category"  placeholder="Kategoria">
            </div>
            <button type="submit" class="btn btn-primary form-control">Usuń</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center mx-auto mb-3" style="width: 26rem">
        <div class="card-header text-center">
          Edytuj dane
        </div>
        <div class="card-body">
          {% if user_form.last_name.errors %}
            <ol>
            {% for err in user_form.last_name.errors %}
              <li>
                <strong>
                  {{ err|escape }}
                </strong>
              </li>
            {% endfor %}
            </ol>
          {% endif %}
          <form class="form-group" method="post">
            {% csrf_token %}
            {{ user_form }}
            <button type="submit" class="btn btn-primary form-control">Edytuj</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}