{% extends '__base_view__.html' %}
{% load static %}

{% block title %}
  Lista zakupów
{% endblock %}

{% block body %}
  <div class="card bg-light mx-auto mb-3" style="max-width: 26rem">
    <div class="card-header text-center">
      Lista Zakupów
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_name" value="add_product">
        <div class="input-group mb-3">
          {{ form.product }}
          <input class="btn btn-outline-primary input-group-append" type="submit" value="Dodaj">
        </div>
      </form>
      {% for sl in shopping_list %}
        {% if sl.completed == True %}
          <strike>
            <form class="form-group" method="post">
              {% csrf_token %}
              <input type="hidden" name="form_name" value="purchased">
              <input type="hidden" name="pk" value="{{ sl.id }}">
              <button type="submit" class="btn btn-sm btn-link btn-sm">
                <img src="{% static 'budget/checked.png' %}" alt="+"/>
              </button>
              {{ sl }}
            </form>
          </strike>
        {% else %}
          <form class="form-group pull-right" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="purchased">
            <input type="hidden" name="pk" value="{{ sl.id }}">
            <button type="submit" class="btn btn-link btn-sm">
              <img src="{% static 'budget/unchecked.png' %}" alt="+"/>
            </button>
            {{ sl }}
          </form>
        {% endif %}
      {% endfor %}
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_name" value="done_shopping">
        <button type="submit" class="btn btn-success pull-right">Gotowe</button>
      </form>
    </div>
  </div>
{% endblock %}