{% extends '__base_view__.html' %}
{% load custom_filters %}
{% block title %}
  Podsumowanie
{% endblock %}
{% block body %}
  <div class="card mb-3">
    <div class="card">
      {% if date_from == month and date_to == month %}
        Podsumowanie za: {{ month|date:"F" }}
      {% else %}
        Okres: {{ date_from }} - {{ date_to }}
      {% endif %}
    </div>
    <div class="card-body">
      <table class="table table-borderless table-hover">
        <thead class="thead-dark">
        <tr>
          <th style="width: 33%">Przychód</th>
          <th style="width: 33%">Wydatki</th>
          <th style="width: 33%">Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ total_income }}</td>
          <td>{{ total_expenses }}</td>
          {% if savings < 0 %}
            <td style="color: red">{{ savings }}</td>
          {% else %}
            <td style="color: green">{{ savings }}</td>
          {% endif %}
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <table class="table table-borderless table-hover table-sm table-responsive">
        <thead class="thead-dark">
        <tr>
          <th style="width: 33%">Kategoria</th>
          {% for month in months %}
            <th style="width: 33%">{{ month|date:"F" }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for res in result %}
          <tr>
            <td>{{ categories|index:forloop.counter0 }}</td>
            {% for counter in res|entry_num_array %}
              <td style="text-align: right">{{res|index:counter}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr class="table-secondary">
          <th>Wydatki</th>
          {% for month in monthly_expenses %}
            <td style="text-align: right">{{ month }}</td>
          {% endfor %}
        </tr>
        <tr class="table-info">
          <th>Przychód</th>
          {% for month in monthly_income %}
            <td style="text-align: right">{{ month }}</td>
          {% endfor %}
        </tr>
        <tr class="table-secondary">
          <th style="text-align: right">&Sigma;</th>
          {% for s in sigma %}
            {% if s < 0 %}
              <td style="color: red; text-align: right">{{ s }}</td>
            {% else %}
              <td style="color: green; text-align: right">{{ s }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
